<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ui.editor.WebUIMulitEditor"
            contributorClass="action.ToolBarAction"
            default="false"
            extensions="ui"
            icon="icons/cmp.gif"
            id="toolKits.editor2"
            name="UIEditor">
      </editor>
      <editor
            class="ui.editor.WebUIMulitEditor"
            contributorClass="action.ToolBarAction"
            default="false"
            extensions="cmp"
            icon="icons/cmp.gif"
            id="toolKits.def_cmp"
            name="ComponentEditor">
      </editor>
      <editor
            class="business.editor.ActionEditor"
            contributorClass="action.ToolBarAction"
            default="false"
            extensions="ctl"
            icon="icons/action_file.png"
            id="tookKits.editor2"
            name="ActionEditor">
      </editor>
      <editor
            class="business.editor.LogicEditor"
            contributorClass="action.ToolBarAction"
            default="false"
            extensions="logic"
            icon="icons/logic_file.png"
            id="tookKits.logicEditor"
            name="LogicEditor">
      </editor>
	</extension>
	<extension point="org.eclipse.ui.views">
		<category name="开发工具" id="TestP" /> 
		<view name="公共方法库" icon="icons/class.gif" category="TestP" class="views.MethodLib" id="views.MethodLib" />
		<view
		        category="TestP"
		        class="views.PropertyView"
		        icon="icons/example.gif"
		        id="views.PropertyView"
		        name="模型属性编辑">
		</view> 
	</extension>
 	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="toolkits.actionSet">
         <menu
               label="开发工具"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;配置数据源"
               icon="icons/database_edit.png"
               class="action.DataSourceConfigAction"
               tooltip="配置数据源"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="action.DataSourceConfigAction">
         </action>
         <action
               label="&amp;开发工具配置"
               icon="icons/example.gif"
               class="action.BaseInfoConfigAction"
               tooltip="开发工具配置"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="action.BaseInfoConfig">
         </action>
         <action
               label="&amp;自定义业务组件"
               icon="icons/component_new.png"
               class="action.NewComponentAction"
               tooltip="自定义业务组件"
               toolbarPath="sampleGroup"
               id="action.defComponent">
         </action>
         <action
               label="&amp;单表CRUD生成"
               icon="icons/component_new.png"
               class="action.CRUDAction"
               tooltip="单表CRUD生成"
               toolbarPath="sampleGroup"
               id="action.curd">
         </action>
      </actionSet>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="toolkits.contribution1">
         <action
               label="生成代码"
               icon="icons/322.gif"
               class="action.ComplierResourceMenu"
               menubarPath="group.new"
               enablesFor="1"
               id="action.ComplierResourceMenu">
         </action>
         <action
               label="同步表单到数据库"
               icon="icons/629.gif"
               class="action.AsyncFormToDBMenu"
               menubarPath="group.new"
               enablesFor="1"
               id="action.AsyncFormToDBMenu">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            id="toolkits.contribution1.folder">
         <action
               label="生成代码"
               icon="icons/322.gif"
               class="action.ComplierResourceMenu"
               menubarPath="group.new"
               enablesFor="1"
               id="action.ComplierResourceMenu">
         </action>
         <action
               label="新增UI页面文件"
               icon="icons/cmp.gif"
               class="action.NewUIAction"
               menubarPath="group.new"
               enablesFor="1"
               id="action.ComplierResourceMenu.folder2">
         </action>
         <action
               label="新增Controller文件"
               icon="icons/action_file.png"
               class="action.NewActionAction"
               menubarPath="group.new"
               enablesFor="1"
               id="action.ComplierResourceMenu.folder2">
         </action>
      </objectContribution>
   </extension>
   
 <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="财务系统开发"
            id="newwizards">
      </category>
      <wizard
            name="UI界面"
            icon="icons/cmp.gif"
            category="newwizards"
            class="newwizard.ui.NewUIWizard"
            id="newwizard.ui.NewUIWizard">
      </wizard>
   </extension>
</plugin>
